html,
body,
#root {
  color: #eee;
  margin: 0;
  padding: 0;
  background-color: #333;
  width: 100dvw;
  height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Monitor Container */

#monitorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1c1c1c;
}

#monitorContainer p {
  font-size: 1.5rem;
}

#container h1 {
  margin: 2rem 0;
  margin-bottom: 0;
}


#readingsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  box-sizing: border-box;
  padding: 3rem;
  border: 3px solid #eee;
  border-radius: 50px;
}

.readingItem {
  background-color: #333;
  width: 250px;
  height: 250px;
  border-radius: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 8px solid #eee;
}

/* Settings Container */

#settingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}