html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #333;
  width: 100dvw;
  height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Monitor Container */

#monitorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
}

#container h1 {
  margin: 2rem 0;
  margin-bottom: 0;
}


#readingsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 0 0 25px -10px rgba(0, 0, 0, .5), 0 0 25px -15px rgba(0, 0, 0, .2);
  border-radius: 60px;
  max-width: 95dvw;
}

#readingsContainer p {
  margin: 0;
}

.readingItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px;
  justify-content: center;
  /* text-align: center; */
  /* box-shadow:0 0 15px -10px rgba(0,0,0,1), 0 0 25px -15px rgba(0,0,0,.2);  */
}

/* .readingItem:last-child {
  border-left: #333 solid 1px;
} */

.readingName {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.readingNumber {
  font-size: 4.5rem;
  font-weight: 400;
}

#indicator {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 10px;
}

#indicator::before {
  content: '';
  display: block;
  width: var(--fill, 0%);
  height: 10px;
  background-color: var(--color, black);
  border-radius: 5px;
}

/* Settings Container */

#settingsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #eee;
  width: 100%;
}

.settingsContent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 600px;
  max-width: 95dvw;
}

#sliderTrack {
  width: 100%;
  height: 10px;
  background-color: #eee;
  margin: 0;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  outline: none;
  margin: 0;
  background-color: transparent;
  pointer-events: none;
}

input[type='range']::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 360px;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: all;
}

input[type='range']::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 360px;
  background: rgb(169, 169, 169);
  border: 1px solid rgba(0, 0, 0, 0.337);
  pointer-events: all;

}

.track {
  position: absolute;
  display: block;
  margin: 0;
}